
services:
    database:
        image: postgres:16
        container_name: postgres
        ports:
            - "5432:5432" 

    
        environment:
            POSTGRES_DB: trabalhoapi_db
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin123

        volumes:
            - pgdata:/var/lib/postgresql/data

volumes:
    pgdata:
